* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.displayAll {
    width: 80%;
    margin: 10vh auto;
    background-color: white;
}

.print {
    width: 250mm;
    height: 270mm;
    margin: auto;
}
.personal {
    display: flex;
    margin-right: 10px;
    width: 100%;
}

.left-side {
    float: left;
    width: 63%;
    padding: 55px;
    height: 275mm;
    /* margin-right: 1em; */
}

.right-side {
    float: right;
    background-color: rgb(83, 83, 204);
    color: rgb(248, 244, 218);
    width: 37%;
    padding: 10px 10px;
    height: 275mm;

}
.own-profile {
    width: 90%;
}

.own-profile p, .personal-skill p{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    white-space: normal;
}

.heading-left {
    color: rgb(83, 83, 204);
    font-size: 20px;
}
.job-title {
    font-size: 16px;
    margin-bottom: 1em;
    margin-top: 2px;
}
.experience p, .experience h5, .education p, .education h5 {
 line-height: 26px;
}
.experience h5 {
    margin-top: 10px;
}
.experience .second, .education .second {
    margin-top: 20px;
}
.experience p, .education p {
    text-align:left;
    /* overflow-wrap: break-word; */
    /* word-wrap: break-word;
    hyphens: auto;
    white-space: normal; */
}
.buttons {
    clear: both;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    margin: auto;
}

.profileimg-left {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-right: 1em;
}

.profile-img{
    height: 150px;
    width: 180px;
    border-radius: 50%;
}

.profiledetail-right{
    margin-left: 20px;
}
.right-side .heading-left {
    color: white;
    margin-top: 8em;
}
.other-personal{
    line-height: 1.4;
    width: 19em;
    margin-right: 2em;
}
.professional-skill .background {

margin-top: 12px;
}
.professional-skill .background p {

    color: white;

}

.profile{
    display: flex;
}

.job-info{
    margin-top: 70px;
    line-height: 4;
}

.share-print{
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400 !important;
    background-color: #483434;
    color: #fff;
    padding: 23px 50px;
    margin: auto;
    text-align: center;
    display: inline-block !important;
    text-decoration: none;
    border: 0px;
    border-radius: 5px;
    width: max-content;
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;
}

/* .share-print:hover{
    transform: scale(1.04, 1);
    background-color:#EED6c4;
    text-decoration: none;
    color: #483434;
} */