.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  height: 9vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
}

.links{
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400 !important;
  background-color: #483434;
  color: #fff;
  padding: 23px 50px;
  margin: auto 40px;
  text-decoration: none;
  border: 0px;

  cursor: pointer;
  transition: all 0.3s 0s ease-in-out;
}

.links:hover{
    transform: scale(1.04, 1);
    background-color:#EED6c4;
    text-decoration: none;
    color: #483434;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
